{% import '_macros.jinja' as foam %}{{ foam.header('volVectorField', 'U') }}

dimensions      [0 1 -1 0 0 0 0];

internalField   uniform ({{ '%.6g' % velocity }} 0 0);

boundaryField
{
    inlet
    {
        type            fixedValue;
        value           uniform ({{ '%.6g' % velocity }} 0 0);
    }

    outlet
    {
        type            inletOutlet;
        inletValue      uniform ({{ '%.6g' % velocity }} 0 0);
        value           uniform ({{ '%.6g' % velocity }} 0 0);
    }

    bottom
    {
        type            symmetryPlane;
    }

    top
    {
        type            symmetryPlane;
    }

    obstacle
    {
        type            slip;
    }

    frontAndBack
    {
        type            empty;
    }
}

{{ foam.footer() }}
